.burger {
  display: none;

  width: 24px;
  height: 2px;
  background-color: $color-dark;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $color-dark;
    left: 0;
  }

  &::before {
    top: -7px;
  }

  &::after {
    top: 7px;
  }

  @media (max-width: ($width_desktop-xl - 1px)) {
    display: block;
  }
}
