.cards {
  margin-bottom: 30px;

  @media (min-width: ($width-tablet)) {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    margin-bottom: 0;
    align-self: center;
  }
}

.cards-list {
  padding-left: 10px;
  @include flex(flex-start, center);
  flex-wrap: wrap;
  column-gap: 33px;
}
