.header {
  width: 100%;
  padding-block: 11px;

  &-container {
    @include flex(space-between, center);

    @media (min-width: ($width-desktop-s)) {
      column-gap: 13.5%;
    }
  }
}

.nav {
  @media (min-width: ($width-desktop-s)) {
    flex: 1;
  }
}

.nav-list {
  @include flex(space-between, center);
  display: none;

  @media (min-width: ($width-desktop-s)) {
    @include flex(space-between, center);
  }
}
