.header {
  width: 100%;
  padding-block: 11px;

  &-container {
    @include flex(space-between, center);
  }
}

.nav-list {
  @include flex(space-between, center);
  display: none;

  @media (min-width: ($width-desktop-s)) {
    display: block;
  }
}
