.links {
  margin-bottom: 75px;
  @include flex(space-between, flex-start);
  flex-direction: column;
  color: $color-gray;

  @media (min-width: ($width-tablet)) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

.links-offer {
  margin-bottom: 24px;
}
