.add-panel
  .add-panel-container
    ul.add-panel-list
      li.add-panel-item
        a(href="/") Доставка и оплата
      li.add-panel-item
        a(href="/") Гарантия и возврат
      li.add-panel-item
        a(href="/") EN