.contacts
  h3.contacts-title Контакты
  ul.contacts-list 
    li.contacts-item
      a.contacts-email(href="mailto:urban.dwelling@yandex.com") Email: urban.dwelling@yandex.com
    li.contacts-item
      a.contacts-tel(href="tel:89999999999") Телефон: 8 (999) 999-99-99