.user-icons
  ul.user-icons-list
    li.user-icons-item.icon-search
      label.icon-search-label
        input.icon-search-input(type="text" value='Лампы')
      img.icon-search-img(src='icons/search.svg')
    li.user-icons-item.icon-basket
      img.icon-search-img(src='icons/basket.svg')
      h3.icon-basket-title Корзина