@import "./mixins/+.scss";
@import "./components/+.scss";

.body {
  margin-inline: auto;
  max-width: $width-desktop-xl;
  min-width: $width-mobile;

  font-family: $font-primary;
  font-weight: 400;

  min-height: 100vh;
  @include flex($justify-content: space-between, $align-items: flex-start);
  flex-direction: column;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}
