footer.footer 
  .footer-container
    +logo('footer', '#231815')
    include components/address.pug
    include components/contacts.pug
    include components/services.pug
    include components/links.pug
    include components/cards.pug

    p.footer-info Этот сайт защищен от спама службой reCAPTCHA Google. <a>Политика конфиденциальности</a>/<a>Условия предоставления услуг</a>

