header.header
  .header-container
    include /layouts/components/logo.pug
    nav.header-nav.nav
      
      ul.nav-ist
        - for (var x = 0; x < 4; x++)
          li.nav-item nav-item 
          
    include /layouts/components/burger.pug
      