header.header
  .header-container
    +logo('header', "#ffffff")
    nav.header-nav.nav
      ul.nav-list
        each page in pages
          li.nav-item
            a(href="/")= page.toUpperCase()

    include /layouts/components/burger.pug
    include /layouts/components/user-icons.pug