include /mixins/mixins

doctype html
html(lang=langRU)
  include /layouts/head.pug
  body
    include /layouts/header.pug

    include /layouts/main.pug
  
    include /layouts/footer.pug
    
    <script src="/src/scripts/index.js" type="module"></script>
